body {

  background-color: rgb(154,161,162);
  background-image: url('images/dennisse_banner.jpg') no repeat;
  background-size: cover;
  color: #F2E0DC;
  text-align: center;
  font-family:'Playfair Display', serif;
  font-weight: 400;
}


.linkedin {

  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.github {

  border-radius: 50%;
  width:  50px;
  height: 50px;
}

footer {


  padding: 20px;
}

@media screen and (max-width: 860px){

  #wrapper {
   position: absolute;
   right: 0;
   left: 0;
   top: 0;
   bottom: 0;
   overflow-x: hidden;
   overflow-y: scroll;
 }

 #left {

  float: none;
  width: 100%;
}

#right {

  float: none;   
  width: 100%;
}

}

